
<div class="row">
    <div class="col">
        <div class="form-floating">

            <select class="form-select" id="currency-selector" name="currency-selector">
                <option selected value="all">Todas las divisas</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                
                @if(currencies.length > 0){
                    @for (currency of currencies; track $index) {
                        <option value="{{currency.code}}">{{currency.code}}</option>
                    }
                }
            </select>
            <label for="currency-selector">Divisas</label>
        </div>

    </div>
    <div class="col">
        <label for="finit">Fecha inicial</label>
        <input type="datetime-local" id="finit" name="finit" />
    </div>
    <div class="col">
        <label for="fend">Fecha final</label>
        <input type="datetime-local" id="fend" name="fend" />
    </div>

    <div class="col">
        <button type="button" id="btn-search" class="btn btn-primary">Buscar</button>
    </div>
</div>